<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>webuploader-cropper</title>
    <link rel="stylesheet" type="text/css" href="$!web.contextPath/resources/css/style.css" />
    <link rel="stylesheet" type="text/css" href="$!web.contextPath/resources/webuploader/css/webuploader.css" />
    <link rel="stylesheet" type="text/css" href="$!web.contextPath/resources/css/cropper.css" />
    <script type="text/javascript" src="$!web.contextPath/resources/js/jquery.js"></script>
    <script type="text/javascript" src="$!web.contextPath/resources/js/cropper/0.3.2/cropper.js"></script>
    <script type="text/javascript" src="$!web.contextPath/resources/webuploader/js/webuploader.js"></script>
    <script type="text/javascript" src="$!web.contextPath/resources/webuploader/js/uploader-cropper-new.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="uploader-container">
         <div id="filePicker">选择文件</div>
        </div>
        <!-- Croper container -->
        <div class="cropper-wraper webuploader-element-invisible">
            <div class="img-container">
                <img src="" alt="" />
            </div>
            <div class="upload-btn">上传所选区域</div>
            <div class="img-preview"></div>
        </div>
    </div>
</body>
</html>
